@model IEnumerable<OnlineToyStore.DAL.Tbl_Product>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Dashboard">Bảng điều khiển</a>
        </li>
        <li class="breadcrumb-item active">Sản phẩm</li>

    </ol>
    <!-- DataTables Example -->

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Sản phẩm
            <a href="../Admin/ProductAdd"
                class="btn btn-info pull-right fa fa-plus">Thêm mới</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Hành động</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên sản phẩm</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            int count = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.ProductName</td>
                                <td>
                                    @Html.ActionLink("Chỉnh sửa", "ProductEdit", new { productId = item.ProductId })
                                </td>
                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
